# Course 5 Task 1: Getting Started with Python for Data Science  

## Exercises from plan of attack:

In [1]:
## Libraries or Modules
## import modules
import pandas as pd
import numpy as np
import math as mt
from scipy import stats

In [2]:
## use numpy to establish some random data
from numpy import random
dataOne = random.rand(5,5)
dataOne

array([[0.37217578, 0.41719781, 0.6336062 , 0.7842282 , 0.70169978],
       [0.80478458, 0.38179444, 0.50391391, 0.10058714, 0.87457696],
       [0.11196424, 0.20168239, 0.33767022, 0.08074521, 0.27904658],
       [0.46816484, 0.96062107, 0.83356722, 0.66389771, 0.47921559],
       [0.79665869, 0.7831568 , 0.94346297, 0.58107943, 0.9679204 ]])

In [3]:
## use the mean function to obtain mean of array
np.mean(dataOne)

0.5625367270112348

In [4]:
## use three predefined functions with math and stats
mt.floor(dataOne[0,0])

0

In [5]:
mt.fsum(dataOne[0])

2.9089077631447395

In [6]:
mt.ceil(dataOne[0,1])

1

In [7]:
stats.describe(dataOne)

DescribeResult(nobs=5, minmax=(array([0.11196424, 0.20168239, 0.33767022, 0.08074521, 0.27904658]), array([0.80478458, 0.96062107, 0.94346297, 0.7842282 , 0.9679204 ])), mean=array([0.51074963, 0.5488905 , 0.6504441 , 0.44210754, 0.66049186]), variance=array([0.08706163, 0.09755507, 0.05974406, 0.10819238, 0.0801011 ]), skewness=array([-0.18893569,  0.31048964, -0.04688164, -0.26219737, -0.27765043]), kurtosis=array([-1.35831316, -1.44478417, -1.37787542, -1.74129372, -1.37879183]))

In [8]:
stats.tmax(dataOne)

array([0.80478458, 0.96062107, 0.94346297, 0.7842282 , 0.9679204 ])

In [9]:
stats.tmean(dataOne)

0.5625367270112348

In [10]:
## Functions overview
print('I love Data Science')

I love Data Science

In [11]:
## Variables overview
variableName = 25
variableName

25

In [12]:
variableName1 = 'I love Data Science'
variableName1

'I love Data Science'

In [13]:
print(variableName1)

I love Data Science

In [14]:
## Data types overview
type(variableName)

int

In [15]:
variableName = 25.0
type(variableName)

float

In [23]:
## try the following in your notebook
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

## Error Encountered wuith the following code:

varOne = 25  
varTwo = 'Hello'  
varThree = varOne + varTwo  


**Error:**

TypeError                                 Traceback (most recent call last)
<ipython-input-24-8f176fe74921> in <module>
      1 varOne = 25
      2 varTwo = 'Hello'
----> 3 varThree = varOne + varTwo
      4 print(varThree)

<span style="color:red">*TypeError: unsupported operand type(s) for +: 'int' and 'str'*</span>


**Error encountered becuase:**

You cannot perform operation '+' on a combination of an int and a string

To concatenate two strings ('+'), **25** needs to be stored in a variable of type string by using **'25'**, as follows:

In [17]:
## one more example
## ERROR becuase cannot add an int and a string, need to change to string...  varOne = 25
varOne = '25'
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

25Hello

In [18]:
## Lists and Dictionaries
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [19]:
tel = {'jack': 4098,'sape': 4139}
tel['jack']

4098

In [20]:
## 1. Now it is your turn
satScore = {'Elise': 1150, 'Audra': 1080, 'Dylan': 1250, 'Blake': 1030, 'Carly': 1220 }
print(mt.log(satScore['Audra']))
print(mt.cos(satScore['Dylan']))
print(mt.radians(satScore['Blake']))

6.984716320118266
0.9380365433953481
17.976891295541595

## Deeper Dive - Complete Chapters 4 and 5 of Python Data Science for Dummies

I do not have this book, but have previous completed various Python online learning classes.  
In lieu, I included above all the steps and examples in the C5T1 Plan of Attack

In [25]:
## Load csv file
data = pd.read_csv("default of credit card clients.csv", index_col=0)
data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

## Answers to questions at end of Task 1  

I had some issues with my conda environment when I downloaded the libraries, but it was due to incompatible versions
of conda, python, and libraries.  I had to change my version of conda, update python and libraries,
and then recreate the environment.  Once I worked through that, everything installed correctly.  

I have previously completed some python online learning course, so was already familair with python, the various
libraries, and the various data types.  Because of this, the tutorial was very basic and I did not have any main lessons learned from this task.

I had not previously used jupyter notebooks, and gound the tutorial useful for that introduction.